.dough_hero {
    display: flex;
    flex-direction: column;
    padding: 100px 35% 0 65px;
    justify-content: center;
    z-index: 999909;
}

.dough_hero .hero1 {
    font-size: 1.2em;
    font-weight: 500;
    word-wrap: break-word;
    color: #fff;
    margin: 5px 0;
}

.dough_hero .hero2 {
    font-size: 0.9em;
    color: #7c7c7c;
}

.dough_submitdata {
    padding: 10px 30% 50px 65px;
}

.dough_submitdata .hero2 {
    font-size: 0.9em;
    color: #7c7c7c;
    margin: 6px 0;
}

.dough_submitdata input, .dough_submitdata textarea {
    font-size: 0.8em;
    word-wrap: break-word;
    padding: 7px;
    width: 70%;
    border: 3px solid #7c7c7c7c;
    margin-bottom: 5px;
    background: transparent;
    color: #fff;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #7c7c7c7c;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #7c7c7c7c;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #7c7c7c7c;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #7c7c7c7c;
}

.dough_renderdata {
    display: flex;
}

.dough_renderdata.load {
    display: flex;
    padding: 30px 15px 0 15px;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

.dough_renderdata .data_group {
    padding: 30px;
    margin: 7.5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #212121;
    color: #fff;
}

.dough_renderdata .datagroup_header {
    font-weight: 600;
    font-size: 1.15em;
    margin-bottom: 20px;
    width: 100%;
}

.dough_renderdata .datagroup_content {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dough_renderdata .datagroup_editor {
    margin-top: 30px;
}

.dough_renderdata .data_item {
    padding: 20px;
    margin-right: 25px;
    background: rgb(21, 21, 21);
    width: 36%;
    flex-shrink: 0;
}

.dough_renderdata .item_metadata {
    margin-top: 9px;
    opacity: 0.9;
    font-size: 0.95em;
}

.dough_renderdata .item_metadata .item_link {
    padding: 8px;
    background: rgba(35, 35, 35, 0.815);
    word-break: break-all;
    font-size: 0.9em;
    margin: 7px 0;
}

.dough_renderdata .item_additionaltags {
    display: flex;
}

.dough_renderdata .item_additionaltags > li {
    font-weight: 600;
    font-size: 0.85em;
    margin: 7px 7px 0 0;
    color: rgb(214, 255, 0);
}

.dough_renderdata .item_metadata .item_timestamp, .dough_renderdata .item_metadata .item_topiccontrib {
    font-size: 0.85em;
    margin: 7px 0;
}

.dough_renderdata .datagroup_editor_item {
    margin: 0 0 20px 0;
    width: 100%;
}

.dough_renderdata input {
    word-wrap: break-word;
    padding: 6px 0;
    font-size: 1em;
    width: 100%;
    border: none;
    background: transparent;
    color: #fff;
}

input:focus {
    outline: none;
}